# Superpowers visual brainstorm sessions
.superpowers/

# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Env
.env
.env*.local

# Sanity
sanity/dist/
sanity/.sanity/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnp.*

# Debug
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
*.pem

# Netlify
.netlify
