# Superpowers visual brainstorm sessions
.superpowers/

# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Env
.env
.env*.local

# Sanity
sanity/dist/
sanity/.sanity/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
